<div class="py-6 flex justify-center  ">
    <div class="p-4 sm:ml-52 mt-6 w-full ">
      @if (showSuccessMessage) {
      <div class="flex justify-center">
        <div role="alert" class="rounded-xl border border-gray-100 bg-white p-4 w-96 mb-8 ">
          <div class="flex items-start gap-4 ">
            <span class="text-green-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
            <div class="flex-1">
              <strong class="block font-medium text-gray-900"> Changes saved </strong>
              <p class="mt-1 text-sm text-gray-700">User is added successfully.</p>
            </div>
            <!-- Dismiss button -->
            <button (click)="showSuccessMessage=false" class="text-gray-500 transition hover:text-gray-600">
              <span class="sr-only">Dismiss popup</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      }
      <div class="p-4 border-2 border-gray-700 border-dashed rounded-lg dark:border-gray-700 ">
        <div class="grid gap-4 mb-4 ">
         
  
            <div (click)="showUsersList()"
              class=" p-2 mb-2 mt-2 border border-gray-700 border-dashed bg-slate-300 rounded-lg dark:border-gray-700 d-flex justify-content-center font-semibold dark:bg-slate-300">
              Select User
            </div>
            @if (showUserList) {
            @if (this.Users.length === 0 ) {
            <div
              class="p-4 mt-2 border-2 text-red-500 dark:text-red-500 font-bold border-gray-700 border-dashed rounded-lg dark:border-gray-700 d-flex justify-content-center ">
              <div>
                NO USERS TO DISPLAY</div>
            </div>
            }
  @else{
            <div class=" overflow-y-auto" style="max-height: 500px;">
              <input type="text" [(ngModel)]="searchQuery" placeholder="Search user by name" class="w-full p-2 border border-gray-300 rounded-md mb-2">
              @for (user of Users | userfilter:searchQuery ; track $index; )
              {
              <div
                class="relative flex flex-col mt-2 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-full border-2 border-gray-200 border-solid">
                <button (click)="selectedUser(user)">
                  <div class="pt-2 pl-4">
                    <h5
                      class="block mb-1 font-sans text-xs antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                        <span class="font-semibold">
                             {{ user.fullName }}</span>
                    </h5>
                    <p class="  block font-sans text-xs antialiased font-light leading-relaxed text-inherit">
                    <div class="pl-1 pb-1 text-sm">
                    <span class="font-semibold"> {{ user.phoneNumber }}</span>
                    </div>
                  </div>
                </button>
              </div>
              }
            </div>
            }}
            @if(hideUserList){
            <div class="mb-2 mt-2">
              <div
                class="relative flex flex-col mt-2 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-full border-2 border-gray-200 border-solid">
                <div class="pt-2 pl-4">
                  <h5
                    class="block mb-1 font-sans text-xs antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                      {{
                    selectedUserName
                    }}
                  </h5>
                  <div class="pl-1 pb-1 text-sm">
                    <span class="font-semibold"> {{ selectedUserNO }}</span>
  
                  </div>
                </div>
              </div>
            </div>
            }
            @if (hideUserList){
            <div class="flex justify-center ">
              <button (click)="addUser()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg 
                text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">Submit</button>
            </div>}
  
          
  
        </div>
      </div>
    </div>
  </div>